@import url("bootstrap/dist/css/bootstrap.min.css");

:root {
  --bg-color: white;    
  --text-color: black;
  --button-bg-color: black;
  --button-text-color: white;
}

[data-theme="dark"] {
  --bg-color: black;
  --text-color: white;
  --button-bg-color: white;
  --button-text-color: black;
}

body {
  background-color: var(--bg-color) !important;
  color: var(--text-color) !important;
  transition: background-color 0.3s ease, color 0.3s ease;
}
