body {
  transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-get-started {
    background-color: var(--button-bg-color) !important;
    color: var(--button-text-color) !important;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 12px 24px;
    border-radius: 50px;
    border: none;
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.3);
    transition: all 0.3s linear;
}

.btn-get-started:hover {
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 6px 15px rgba(255, 255, 255, 0.5);
    transition: ease 0.2s;
    transform: scale(1.1);
}

.btn-get-started:active {
    transform: scale(0.98);
    box-shadow: 0 2px 8px rgba(255, 255, 255, 0.2);
}

@keyframes fade-in {
  0% { opacity: 0; }
  50% { opacity: 1; }
}

.tagline {
  animation: fade-in 3s;
}